.idea
node_modules
jspm_packages
npm-debug.*
link-checker-results.txt
app/**/*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
app/hero-form.component.html
app/hero-form.component.ts
app/hero.ts
app/keyup.components.ts
app/little-tour.component.ts
app/loop-back.component.ts
app/app-ctor.component.ts
app/app.component.html
app/click-me2.component.ts
app/click-me.component.ts
app/films.json
