<!-- MOVE TO TEMPLATE -->
<div class="footer__wrapper">

  <div class="footer__text">
    <span>Crafted with &nbsp;<i class="fa fa-heart-o"></i>&nbsp; by Irfan Maulana</span>
  </div>

  <ul class="footer__list">
    <li class="footer__icon footer__icon--facebook">
      <a rel="nofollow" href="https://www.facebook.com/mazipanneh">
        <i class="fa fa-facebook-square"></i>
      </a>
    </li>
    <li class="footer__icon footer__icon--twitter">
      <a rel="nofollow" href="https://twitter.com/Maz_Ipan">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="footer__icon footer__icon--instagram">
      <a rel="nofollow" href="https://instagram.com/maz_ipan">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li class="footer__icon footer__icon--linkedin">
      <a rel="nofollow" href="https://id.linkedin.com/in/irfanmaulanamazipan">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    <li class="footer__icon footer__icon--slideshare">
      <a rel="nofollow" href="https://www.slideshare.net/IrfanMaulana21">
        <i class="fa fa-slideshare"></i>
      </a>
    </li>
    <li class="footer__icon footer__icon--github">
      <a rel="nofollow" href="https://github.com/mazipan">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li class="footer__icon footer__icon--wordpress">
      <a rel="nofollow" href="https://mazipanneh.wordpress.com/">
        <i class="fa fa-wordpress"></i>
      </a>
    </li>
  </ul>
</div>
