<ul class="nav__wrapper">
  <li class="nav__item" routerLink="/film" routerLinkActive="nav__item--active">
    <a routerLink="/film">
      <i class="nav__icon fa fa-film"></i> Film
    </a>
  </li>
  <li class="nav__item" routerLink="/planet" routerLinkActive="nav__item--active">
    <a routerLink="/planet">
      <i class="nav__icon fa fa-globe"></i> Planet
    </a>
  </li>
  <li class="nav__item" routerLink="/vehicle" routerLinkActive="nav__item--active">
    <a routerLink="/vehicle">
      <i class="nav__icon fa fa-car"></i> Vehicle
    </a>
  </li>
  <li class="nav__item" routerLink="/starship" routerLinkActive="nav__item--active">
    <a routerLink="/starship">
      <i class="nav__icon fa fa-space-shuttle"></i> Starship
    </a>
  </li>
  <li class="nav__item" routerLink="/species" routerLinkActive="nav__item--active">
    <a routerLink="/species">
      <i class="nav__icon fa fa-paw"></i> Species
    </a>
  </li>
  <li class="nav__item" routerLink="/people" routerLinkActive="nav__item--active">
    <a routerLink="/people">
      <i class="nav__icon fa fa-users"></i> People
    </a>
  </li>
</ul>
